@model IEnumerable<DefectTracking.Models.WarrantyDefects>

@{
	ViewData["Title"] = "WarrantyIndex";
}

<h1 class="text-white">Warranty Index</h1>

<form method="get" asp-controller="Forms" asp-action="SearchWarrantyIndex">
	<div style="display:flex; flex-direction: row;">
		<div class="col-sm-2 text-white"><label>Search Serial Number</label></div>
		<div class="col-sm-4 text-white"><label>Second Serial Number (For Range)</label></div>
	</div>
	<div class="col-sm-4">
		<input type="number" name="FirstSerialNumber" />
		<input type="number" name="SecondSerialNumber" />
		<input type="submit" value="Search" />
		<input type="button" value="Clear" onclick="location.href='@Url.Action("WarrantyIndex", "Forms")'" />
	</div>
</form>
<h2>
	<a asp-action="WarrantyForm">Create New Form</a>
</h2>
<table class="table text-white text-center">
	<thead>
		<tr>
			<th hidden>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SerialNumber)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OldSerialNumber)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UnitType)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Display)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CalibrationMissingCalibration)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MechanicalAssemblyError)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DeadorDyingBatteries)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PCBBoardDefect)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SpeakerQuiet)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NoSound)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SwitchNotWorking)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ButtonNotWorking)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EnclosureDefect)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Other)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OtherDesc)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ProblemDesc)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Date)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.WorkPerformed)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UnitStatus)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td hidden>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SerialNumber)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.OldSerialNumber)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UnitType)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Display)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CalibrationMissingCalibration)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.MechanicalAssemblyError)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DeadorDyingBatteries)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PCBBoardDefect)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SpeakerQuiet)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NoSound)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SwitchNotWorking)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ButtonNotWorking)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EnclosureDefect)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Other)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.OtherDesc)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ProblemDesc)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Date)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.WorkPerformed)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UnitStatus)
				</td>
				<td>
					<a asp-action="WarrantyEdit" name="SerialNumber" asp-route-id="@item.Id">Edit</a>
				</td>
			</tr>
		}
	</tbody>
</table>
<div class="text-danger">
	@ViewBag.CountW
</div>
@ViewBag.Exception
